/***
*
*
*   General Changes
*
*
***/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html[lang="zh"] body nav{
    font-size: 1.1rem;
    font-weight: bold;
}

.bg-image {
      position: fixed;
      top:0px;
      z-index: -10;
      filter: brightness(0.50);
}

footer{
    background-color: #26292D!important;
}

.footer-container{
    padding-left: 30px;
    padding-right: 30px;
    margin-left: auto;
    margin-right: auto;
}

.dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0;
}

/*Give the navbar higher display priory especially mobile*/
nav.navbar{
    z-index: 20;
}

/***
*
*
* Landing page
*
*
***/

.index-quote{
    font-family: cursive,Helvetica, Arial, sans-serif;
}

.welcome-quote{
    font-family: Roboto, serif, Arial!important;
}

.welcome-quote span{
    font-size: 3rem;
}

.search-bar{
    margin-left: auto;
    margin-right: auto;
}

.search-bar button{
    background-color: #99dc35;
    border-radius: 0px 0.25em 0.25em 0px!important;
}

.search-bar span{
    border-radius: 0.25em 0px 0px 0.25em!important;
}

.search-alt{
    font-family: Helvetica, cursive;
}

.search-alt a{
    text-decoration: underline;
}

.announcement{
    background-image: url("../images/starline.jpg");
    background-size: 100% auto;
    background-repeat: no-repeat;
    opacity: 0.8;
}

.news-section div.card, .news-section div.card img{
    width: 100%;
    max-width: 300px;
}

.news-section div.card{
    margin: 0 auto;
}

.see-more{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.see-more{
    font-size: 1.25em;
}




/***
*
*
* About us page
*
*
***/
.bg-image2 {
      position: fixed;
      top:0px;
      z-index: -10;
}

.bg-imageabsolute {
      position: relative;
      z-index: 0;
      filter: brightness(0.60);
}

.intro{
  background-color: #FFD801;
  padding-top:3px;
  padding-bottom:3px;
  padding-left:5px;
  padding-right:5px;
}

.publications {
  box-shadow: 5px 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 80%;
  margin: auto;
  text-align: center;
  background-color: white;
}

.publications button {
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

.publications button:hover {
  opacity: 0.7;
}

.public{
  background-color: #FFD801;
  padding-top:3px;
  padding-bottom:3px;
  padding-left:10px;
  padding-right:10px;
}
/***
*
*
* END About us page
*
*
***/

/***
*
*
* OPAC
*
*
***/
#opac-bg{
    background-image: url("../images/opacbg-modified.jpg");
    background-attachment: fixed;
    background-size: 100% auto;
    background-position: top;
    background-repeat: no-repeat;
    background-color: lightgray;
}

.search-box{
    background-color: rgba(255, 193, 7, 0.9)
}

.search-filter{
    background-color: #8307ff;
}

.search-filter div{
    font-weight: bold;
    font-size: 1.1em;
}

.opac-display-box{
    background: rgba(169, 169, 169,0.9);
    padding: 0 30px;
}

.opac-cell-header, .opac-cell-numbering{
    width: 100px;
    font-weight: bold;
}
/***
*
*
* END OPAC
*
*
***/


/***
*
*
* Events
*
*
***/
.event-bg{
    position: fixed;
    top:0px;
    z-index: -10;
}


/***
*
*
* END Events
*
*
***/


/***
*
*
* Career
*
***/
.why-us{
    font-weight: bold;
    font-size: 1.1em;
}

.email-register{
    background: rgb(16,0,255);
    background: linear-gradient(90deg, rgba(16,0,255,1) 0%, rgba(105,105,251,1) 54%, rgba(79,207,233,1) 100%);
}

/***
*
*
* END Career
*
*
***/


/***
*
*
* Sponsorship
*
*
***/

.sponsor-top-bg{
    position: relative;
    top:0px;
    z-index: -10;
    filter: brightness(0.7);
}

.thank-you{
    font-family:'Times New Roman', Times, serif, cursive;
}

.sponsors-background{
    background-image: url("../images/sponsorbg.jpg");
    background-size: 100% auto;
    background-position: top;
    background-repeat: no-repeat;
    background-color: lightgray;
}

.gold-sponsors img{
    width: 200px;
    height: auto;
}

.silver-sponsors img{
    width: 100px;
    height: auto;
}

#title-desktop{
    top: 50%;
}
/***
*
*
* END Sponsorship
*
*
***/

@media only screen and (max-width: 576px) {
    .search-bar{width: 90%!important;}
    #bookroomimage{
        width:250%;
        height:90%;
    }
    #title{
      font-size:350%;
      padding-top:7%;
      padding-bottom:7%;
    }

    #title2{
      font-size:200%;
      padding-top:4%;
      padding-bottom:3%;
    }

    .navbar-responsive{width: 80%}

    #title-mobile{display: block;}
    #title-desktop{display: none;}
}

@media only screen and (min-width: 577px) {
  #introtext{
    padding-top:0px;
  }
  #bookroomimage{
      width:100%;
      height:60%;
  }
  #title{
    font-size:400%;
    padding-top:7%;
    padding-bottom:7%;
  }

  #title2{
    font-size:300%;
    padding-top:4%;
    padding-bottom:3%;
  }

  .search-bar{width: 70%!important;}

  .sponsors-background{background-size: 100% auto;}

  .navbar-responsive{width: 75%}

    #title-mobile{display: none;}
    #title-desktop{display: block;}
}

@media only screen and (max-width: 784px) {
    .sponsors-background{background-size: auto 100%;}
}

@media only screen and (min-width: 992px) {

    #bookroomimage{
        width:100%;
        height:70%;
    }
    #title{
        font-size:500%;
        padding-top:7%;
        padding-bottom:7%;
    }
    #title2{
        font-size:300%;
        padding-top:4%;
        padding-bottom:3%;
    }

    .search-bar{width: 70%!important;}
    .search-bar{width:50%!important;}

    .navbar-responsive{width: 90%;}

    .email-register input{
        max-width: 50%;
    }
}

@media only screen and (min-width: 1200px) {
  #introtext{
      padding-top:4%;
    }
    #bookroomimage{
        width:100%;
        height:81%;
    }
    #title{
      font-size:700%;
      padding-top:7%;
      padding-bottom:7%;
    }
    #title2{
      font-size:300%;
      padding-top:4%;
      padding-bottom:3%;
    }


}
