/***
*
*
*   General Changes
*
*
***/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html[lang="zh"] body nav{
    font-size: 1.1rem;
    font-weight: bold;
}

.bg-image {
      position: fixed;
      top:0px;
      z-index: -10;
      filter: brightness(0.50);
}

footer{
    background-color: #26292D!important;
}

.footer-container{
    padding-left: 30px;
    padding-right: 30px;
    margin-left: auto;
    margin-right: auto;
}

.dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0;
}


/***
*
*
* Landing page
*
*
***/

.index-quote{
    font-family: cursive,Helvetica, Arial, sans-serif;
}

.welcome-quote{
    font-family: Roboto, serif, Arial;
}

.welcome-quote span{
    font-size: 3rem;
}

.search-bar{
    width:50%!important;
    margin-left: auto;
    margin-right: auto;
}

.search-bar button{
    background-color: #99dc35;
    border-radius: 0px 0.25em 0.25em 0px!important;
}

.search-bar span{
    border-radius: 0.25em 0px 0px 0.25em!important;
}

.search-alt{
    font-family: Helvetica, cursive;
}

.search-alt a{
    text-decoration: underline;
}

.announcement{
    background-image: url("../images/starline.jpg");
    background-size: 100% auto;
    background-repeat: no-repeat;
    opacity: 0.8;
}

.news-section div.card, .news-section div.card img{
    width: 100%;
    max-width: 300px;
}

.news-section div.card{
    margin: 0 auto;
}

.see-more{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.see-more{
    font-size: 1.25em;
}




/***
*
*
* About us page
*
*
***/
.bg-image2 {
      position: fixed;
      top:0px;
      z-index: -10;
}

.bg-imageabsolute {
      position: absolute;
      top:0px;
      z-index: -10;
      filter: brightness(0.60);
}

/***
*
*
* OPAC page
*
*
***/
#opac-bg{
    background-image: url("../images/opacbg-modified.jpg");
    background-attachment: fixed;
    background-size: 100% auto;
    background-position: top;
    background-repeat: no-repeat;
    background-color: lightgray;
}

.search-box{
    background-color: rgba(255, 193, 7, 0.9)
}

.search-filter{
    background-color: #8307ff;
}

.search-filter div{
    font-weight: bold;
    font-size: 1.1em;
}

.opac-display-box{
    background: rgba(169, 169, 169,0.9);
    padding: 0 30px;
}

.opac-cell-header, .opac-cell-numbering{
    width: 100px;
    font-weight: bold;
}


/***
*
*
* END OPAC page
*
*
***/

@media only screen and (max-width: 576px) {
    .search-bar{width: 90%!important;}
    #bookroomimage{
        width:250%;
        height:90%;
    }
}

@media only screen and (min-width: 577px) {
  #intro{
    padding-top:0px;
  }
  #bookroomimage{
      width:100%;
      height:50%;
  }
}

@media only screen and (min-width: 992px) {
  #bookroomimage{
      width:100%;
      height:60%;
  }
    .search-bar{width: 70%!important;}
}

@media only screen and (min-width: 1200px) {
  #intro{
      padding-top:4%;
    }
    #bookroomimage{
        width:100%;
        height:75%;
    }

}
